<%if(mode=="2")%>
<%{%>
    <h3>voter id: <%=user_info[1].vvid%></h3>
    <h3>MODE: <%=mode%> election</h3>
    <h2>VOTING CONSTITUENCY : <%= user_info[1].vrea %></h2>
    <form action='/cast_vote_areabase_single' method="post">
      <%var k=0%>
      <%var position=candidate_sc[1].c_pos;%>
      <h3>position  <%=position%></h3>

    <br></br>
    <input type="hidden" name="voter" value="<%=user_info[1].vvid%>">
    <input type="hidden" name="election" value="<%=user_info[1].veid%>">
    <button type="submit" class="submitbutton">cast vote</button>
    </form>
<%}%>



<%if(postion!=candidate_sc[i].c_pos)%>
<%{%>
  <%=postion=candidate_sc[i].c_pos%>
  <%=k=k+1;%>
<%}%>
